<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
</head>
<body>

<table border="1" class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>订单编号</th>
        <th>航班号</th>
        <th>出发日期</th>
        <th>乘机人姓名</th>
        <th>乘机人身份证号</th>
        <th>舱位</th>
        <th>订票时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for order_object,passenger_object,flight_object in combined_list %}
    <tr>
        <td>{{order_object.id}}</td>
        <td>{{flight_object.flight_id}}</td>
        <td>{{flight_object.departure_day}}</td>
        <td>{{passenger_object.name}}</td>
        <td>{{passenger_object.idnum}}</td>
        <td>{{order_object.classtype}}</td>
        <td>{{order_object.ordertime}}</td>
        <td>
            <a href="flight/refunding/?orderid={{order_object.id}}">退票</a>
        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>